<div class="container">
  <%= simple_form_for @income do |f| %>
  <p>
    <%= f.input :amount, as: :string %>
  </p>
    
  <p>
    <%= f.input :description %>
  </p>
  
  <p>
    <%= f.label :category %>
    <%= collection_select(:income, :income_category_id, IncomeCategory.for_user(current_user.id), :id, :category_name)  %>
  </p>
  
  <p>
    <%= f.input :created_at, label: 'Date' %>
  </p>
  
  <p>
    <%= f.button :submit %>
  </p>
  
<% end %>
</div>