<script>
    $(document).ready(function(){
    $('#datatable').DataTable();
    });
</script>
  
  <div class="container">
    <h1>Manage Incomes</h1>
   <%= link_to "Add new income", new_income_path, class: 'btn btn-default' %>
 <br><br>
<%= render 'month_buttons' %>
<br><br>
    <table class="table" id="datatable">
    <thead>
      <tr>
        <th>Amount</th>
        <th>Date</th>
        <th>Category</th>
        <th>Description</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
     <% @incomes.each do |income| %>
      <tr>
        <td><%= income.amount %></td>
        <td><%= income.created_at.strftime("%a, %dth %b %Y %I:%M %p") %></td>
        <td><%= income.income_category.category_name %></td>
        <td><%= income.description %></td>
        <td><%= link_to "Edit", edit_income_path(id: income.id), class: 'btn btn-default' %></td>
        <td><%= link_to "Delete", income_path(id: income.id), class: 'btn btn-default', method: :delete, data: {confirm: 'Are you sure?'}
 %></td>
      </tr>
     <% end %>
    </tbody>
  </table>
  <h1>Analytics</h1>
  <%= pie_chart IncomeCategory.includes(:incomes).where(incomes: {user_id: current_user.id}).group(:category_name).count %>
</div>