<script>
    $(document).ready(function(){
    $('#datatable').DataTable();
    });
</script>

<div class="container">
    <h1>Transactions</h1>
    <table class="table" id="datatable">
    <thead>
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Withdrawals</th>
        <th>Deposits</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
        <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.transactionable.created_at.strftime("%a, %dth %b %Y %I:%M %p") %></td>
        <td><%= transaction.transactionable.description %></td>
        <td><%= transaction.transactionable.amount if transaction.transactionable_type == 'Expense' %></td>
        <td><%= transaction.transactionable.amount if transaction.transactionable_type == 'Income' %></td>
        <td><%= transaction.balance%>
  	   </td>
      </tr>
     <% end %>
    </tbody>
  </table>
  <h1>Analytics</h1>
  <%= pie_chart Transaction.where(user_id: current_user.id).group(:transactionable_type).count %>
</div>