<div class="container">
  <%= simple_form_for @expense do |f| %>
  <p>
    <%= f.input :amount, as: :string %>
  </p>
    
  <p>
    <%= f.input :description %>
  </p>
  
  <p>
    <%= f.label :category %>
    <%= collection_select(:expense, :expense_category_id, ExpenseCategory.all, :id, :category_name)  %>
  </p>
  
  <p>
    <%= f.button :submit %>
  </p>
  
<% end %>
</div>